{% extends('base.html') %}
{% block title %} Error 404 {% endblock %}
{% block style %}
<style>
    .main-header .logo p, .main-header ul li a {
        color: black;
    }

    div.main-header .main-nav div:hover {
        box-shadow: 0 4px 2px -2px rgb(0, 0, 0);
    }

    .light-logo {
        display: inline-block;
    }

    .main-header .logo div img:last-child {
        display: none;
    }
</style>
{% endblock %}

{% block slide %}
<div class="slide-item" style="background-image: url(/static/assets/images/header/21.jpeg);">
    <div class="slide-content">
        <h1 class="slide-title oswald">Ooops<br>Wrong Page!</h1>
        <a href="{{ url_for('home') }}"><button class="slide-button-404 open-sans">Home</button  on></a>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container" style="max-width: 767px;">
    <div class="row error" style="flex-direction: column; text-align: center;">
        <img src="/static/assets/images/404.png" alt="Error 404">
        <div class="divider line-divider"></div>
        <h2 class="oswald">Page you are looking is not found</h2>
        <p class="open-sans-light">Maybe could be that the page you are looking does not exist or may have been moved or removed
            Return to Homepage and follow searching The Enigma
        </p>
        <a href="{{ url_for('home') }}"><button class="slide-button open-sans error">Home</button  on></a>
    </div>
</section>
{% endblock %}